* {
    box-sizing: border-box;
}

body {
    background: #eee;
}

.modal {
    background: #bcc8db;
    border-radius: 1em;
    position: absolute;
    box-shadow: .25em .25em .25em 0 rgba(51,51,51,1);
}

.modal .info {
    background: #fff;
    width: 100%;
    padding: 1.5em;
    box-shadow: 0 0 .25em 0 rgba(51,51,51,1);
}

.modal h2 {
    text-align: center;
}

.modal button {
    display: block;
    padding: .5em 1em;
    border-radius: .5em;
    border: #333 solid 1px;
    background: #bcc8db;
    color: #333;
    font-size: 100%;
    margin: auto;
}



.modal button:hover, .modal button:focus {
    background: #eee;
}

.modal button:active {
    box-shadow: inset 0 0 .5em 0 rgba(51,51,51,1);
}
