@keyframes slidein {
  from {
    right: 100%;
  }
  to {
    right: 70%
  }
}

@keyframes slideout {
  from {
    right: 70%;
  }
  to {
    right: 100%
  }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #eee;
}

#app > div > div > svg {
    display: block;
    margin: auto;
}

.modal {
    height: 100%;
    width: 30%;
    background: #143E81;
    right: 70%;
    position: absolute;
    overflow: hidden;
    animation: 1s ease-in-out slidein;
    box-shadow: -.125em 0 .5em 0 rgba(51,51,51,.75);
}

.modal.fadeOut {
    right: 100%;
    animation: 1s ease-in-out slideout;
}

.modal .info {
    background: #fff;
    width: 100%;
    padding: 1.5em;
    box-shadow: 0 .125em .25em 0 rgba(51,51,51,.5);
}

.modal h2, .modal h3 {
    text-align: center;
    margin-top: 0;
}

.modal h3 {
    margin-bottom: .5em;
}

.modal button {
    display: block;
    padding: .5em 1em;
    border-radius: .5em;
    border: #eee solid 1px;
    background: #bcc8db;
    color: #333;
    font-size: 100%;
    margin: 1em auto;
}

.modal button:hover, .modal button:focus {
    background: #eee;
}

.modal button:active {
    box-shadow: inset 0 0 .5em 0 rgba(51,51,51,1);
}

.modal .ro-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.modal input {
    padding: .5em 1em;
    border-radius: .5em;
    border: #333 1px solid;
    width: 45%;
}

.modal .close-x {
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1.5em;
    height: 1.5em;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin:r ound;
    stroke-miterlimit: 1.41421;
}

.modal .close-x path{
    fill: #333;
    fill-rule: nonzero;
}
